:root {
    --bg-light: #b2cad4; /* Светлый фон с вашего видео */
    --text-primary: #264653; /* Цвет из вашего логотипа */
    --text-secondary: #4a6570;
    --font-main: 'Roboto', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    background-color: var(--bg-light);
    color: var(--text-primary);
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Отключаем анимации для людей, которые настроили это в системе */
@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }

}