:root {
    --bg-light: #b2cad4; /* Светлый фон с вашего видео */
    --text-primary: #264653; /* Цвет из вашего логотипа */
    --text-secondary: /* --- Логотип --- */
.hero-svg {
    /* Задаем новые размеры.
       max-width делает его резиновым на телефонах, а width: 100% заставляет занимать все доступное место до 400px */
    width: 100%;
    max-width: 400px;
    height: auto; /* Высота высчитается автоматически исходя из пропорций viewBox (те самые 388px) */

    margin-bottom: 60px;
    overflow: visible;

    animation:
        logo-fade 1.6s forwards,
        logo-spin-inertia 1.6s forwards;
}

/* 1. Анимация прозрачности */
@keyframes logo-fade {
    0% { opacity: 0; }
    90% { opacity: 1; }
    100% { opacity: 1; }
}

/* 2. Точечная настройка вращения с инерцией (БЕЗ SCALE) */
@keyframes logo-spin-inertia {
    0% {
        /* Оставили только вращение */
        transform: rotateY(-45deg);
        animation-timing-function: ease-out;
    }
    30% {
        transform: rotateY(420deg);
        animation-timing-function: ease-in-out;
    }
    100% {
        transform: rotateY(360deg);
    }
};
    --font-main: 'Roboto', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    background-color: var(--bg-light);
    color: var(--text-primary);
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Отключаем анимации для людей, которые настроили это в системе */
@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }

}