:root {
    --bg-light: #C0D3D9; /* Светлый фон с вашего видео */
    --text-primary: #264653; /* Цвет из вашего логотипа */
    --text-secondary: #4a6570;
    --font-main: 'Roboto', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    background-color: var(--bg-light);
    color: var(--text-primary);
    box-sizing: border-box;
}

/* --- Фон с сеткой треугольников --- */
#wave-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Логотип и текст имеют z-index: 2, поэтому будут поверх фона */
    pointer-events: none; /* Фон не будет перехватывать клики по ссылкам */
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Отключаем анимации для людей, которые настроили это в системе */
@media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }

}